<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnbang.webserver.mapper.EmailMapper">
 <select id ="getPassword" resultType ="String" parameterType="String">
		select password 
		from user 
		where email = #{email}
   </select>
</mapper>
	